# Ignore Python bytecode files
__pycache__/
*.pyc
*.pyo

# Ignore environment and virtual environment files
venv/
.env/

# Ignore model checkpoints and experiment outputs
experiments/*/backup_ckpts/
experiments/*/*.png
experiments/*/latest_ckpt.pth.tar
experiments/*/train_loss.csv

preprocessed_data/
preprocessed_data_64/

*.pth.tar
.ipynb_checkpoints/
*.png
*.egg-info/
round2/MedNIST/
round2/MedNIST.tar.gz
*.npy